<html>
  <head>
    <title>HomePage</title>
  </head>
  <body>
    <h1>Video Game Reviews</h1>
    <h2>Where your opinion matters!</h2>
  <p>Want to create a review for a game? <a href="/review/new"> click here </a></p>
  <p>Want to see all reviews? <a href="/reviews"> click here </a></p>
  <p>Click on a game to see all it's reviews:</p>
  <p><a href="/review/title/pacman"> Pacman</a></p>
  <p><a href="/review/title/minecraft"> minecraft</a></p>
  <p><a href="/review/title/SmashBros"> Smash Bros</a></p>
  <p><a href="/review/title/Mario Kart"> Mario Kart</a></p>
  <p><a href="/review/title/Just dance 2"> Just Dance 2</a></p>
  </body>
</html>
