
#login {
  height: 200px;
  width: 500px ;
  margin-left: 400px ;
  margin-right: 200px ;
  margin-top:350px ;
  
}

label {

	font-size:30px;
}

button {
	font-size:20px;

}

#loginform {
		height: 100px;
		margin-left: 66px;
		margin-right: auto;
		margin-bottom: 50px;
		margin-top:0px;
}
