body {
	
	background-image:url('cartoon.jpg');
}
h1 {
	font-size: 40px;
}
#logout
{
	position: absolute;
	margin-left: 625px;
}
#header
{
	color: black;
}
#names
{
	
	font-size: 28px;
}
#output
{
	position: absolute;
	right: 30px;
	top: 150px;
	background-image:url('plaid.jpg'); 
	margin-right: 300px;
}
#typingbox
{
	position: fixed;
	right:70px;
	bottom: 10px;
	background-image: url('hm.png position=absolute');
	margin-left: 2000px;

}
#minecraft
{
	margin-left: 2000px;
}
#login{
	margin-left: 2000px;
}
ul {
  list-style-type: none;
  width: 500px;
}
 
h3 {
  font: bold 20px/1.5 Helvetica, Verdana, sans-serif;
}
 
li img {
  float: left;
  margin: 0 15px 0 0;
}
 
li p {
  font: 200 12px/1.5 Georgia, Times New Roman, serif;
}
 
li {
  padding: 20px;
  overflow: auto;
}
 
li:hover {
  background: #eee;
  cursor: pointer;
}